receivers:
  otlp:
    protocols:
      grpc:
processors:
  batch:
  filter:
    logs:
      log_record:
        - 'flags == 0 and trace_id != TraceID(0x00000000000000000000000000000000)'

exporters:
  jaeger:
    endpoint: jaeger:14250
    tls:
      insecure: true
  clickhouse:
    dsn: tcp://clickhouse:9000/otel
    ttl_days: 3
    logs_table_name: otel_logs
    traces_table_name: otel_traces
    timeout: 5s
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s
  file:
    path: /tmp/otelcol/logs/logs

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger, clickhouse]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [file]
    logs/sampled:
      receivers: [otlp]
      processors: [batch, filter]
      exporters: [clickhouse]      